<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Youtube Sync Player</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>    
  </head>

  <body>
    <div>
      視聴中の人数： <span id="watch">0</span>
    </div>
    <div id="player"></div>
    <script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var socket = io();
      var player;

      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: 'NeiujD2YUo8',
          playerVars: {
            start: 0
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });      
      }

      function onPlayerReady(event) {
        event.target.playVideo();

        console.log({"Duration": player.getDuration()});
      }

      var paused = false;

      /**
       * -1 – 未開始        
       * 0 – 終了          YT.PlayerState.ENDED
       * 1 – 再生中        YT.PlayerState.PLAYING
       * 2 – 一時停止       YT.PlayerState.PAUSED
       * 3 – バッファリング中  YT.PlayerState.BUFFERING
       * 5 – 頭出し済み      YT.PlayerState.CUED
       */
      function onPlayerStateChange(event) {
        console.log({
          "CurrentTime": player.getCurrentTime(),
          "Quality": player.getPlaybackQuality(),
          "State": event.data
        });

        switch (event.data) {
          case YT.PlayerState.PLAYING:
            if (paused) {
              socket.emit("playing");
              paused = false;
            }
            break;
          case YT.PlayerState.PAUSED:
            socket.emit("paused");
            paused = true;
            break;
        }
      }
      

      // WebSocket Event
      socket.on("user counter", function (data) {
        console.log("ev user counter");
        $("#watch").text(data);
      });

      socket.on("all playing", function() {
        console.log("ev all playing");
        player.playVideo();
        paused = false;
      });
      socket.on("all paused", function () {
        console.log("ev all paused");
        player.pauseVideo();
        paused = true;
      });
    </script>
  </body>
</html>
